<script src="https://www.mercadopago.com/v2/security.js" view=""></script>
<h2>Pago exitoso</h2>

<div>
    <h4>Método de pago: {{payment_type}}</h4>  
    <h4>External reference: {{external_reference}}</h4>  
    <h4>ID de pago: {{collection_id}}</h4>  
</div>
